.faq{

  &-header{
    background: #F9EBE8;
    padding: 100px 0 30px 0;

    @media screen and (max-width: 575px){
      padding: 24px 0;;
    }
  }
  &-hero{

    &-search{
      width: 400px;

      @media screen and (max-width: 575px){
        width: 340px;
      }
      
      &-input{
        border-radius: 40px;
        font-size: 14px !important;
        line-height: 150% !important;
      }
      &-button{
        position:absolute;
        border: none;
        background: transparent;
        right: 14px;
        top: 27%;
        
        
      }
    }

  }

  &-main{

    padding: 40px 0px 65px 0px;

    &-button{
      padding-bottom: 65px;
    }


    &-mobile{
      &-content{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      &-header{
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;
        border: 1px solid #DEDEDE;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
        background: $t-white;
      }
      &-body{
        background: #F7F7F7;
        padding: 40px 0 140px 0;

      }
    }

  }
  &-button{
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 170px;
    height: 170px;
    margin-bottom: 36px;

    h4{
      color: $t-black;
    }
    &:hover{
      background:rgba(255, 67, 22, 0.1);
    }
    &[aria-expanded="true"]{
      background:rgba(255, 67, 22, 0.1);
    }

    @media screen and (max-width: 767px){
      width: 100%;
      height: 64px;
      flex-direction: row !important;
      justify-content: start !important;
      margin-bottom: 8px;

      img{
        width: 32px;
        height: 32px;
        margin: 0 24px;
      }
    }
  }
}