.navbar{
  background-color: $t-white;
  border-bottom: 1px solid #dedede;

  &-brand{

    @media screen and (max-width: 575px){
      width: 120px;
    }
  }

  .nav-link{
    color: $t-black !important;

    &:hover{
      color: $t-blue!important;
    }

  }
  .nav-item{
    margin-right:40px;
    @media screen and (max-width: 1399px){
      margin-right:15px;
    }
  }
  &-collapse{
    background-color: $t-white;
    position: fixed;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.4s, visibility 0.4s;
    transition: opacity 0.4s, visibility 0.4s;

    &.show{
      z-index: 9;
      opacity: 1;
      visibility: visible;
    }

    .mobile-nav-link{
      font-size: 24px;
      font-weight: 500;
      line-height: 130%;
      padding: 20px 0;
      display: block;
    }
  }
  
}