.product{

  &-list{
    padding-bottom:240px;
    
    &-filter{
      padding: 40px 0;
      display: flex;
      justify-content: space-between;
    }

  }
}

.pagination{

  width: 240px;
    &-arrow{
      font-size: 20px;
    }
    &-input{

      background: #DEDEDE;
      border-radius: 6px;
      border: none;
      width: 25px;
      text-align: center;
    
    }
    &-group{
      width: 80px;
    }
}

.eoi-modal{

  .form-select{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #A9A9A9;

  }

}
