.product{

  &-list{
    padding-bottom:240px;
    
    &-filter{
      padding: 40px 0;
      display: flex;
      justify-content: space-between;
    }

  }
}

.pagination{

  width: 240px;
    &-arrow{
      font-size: 20px;
    }
    &-input{

      background: #DEDEDE;
      border-radius: 6px;
      border: none;
      width: 25px;
      text-align: center;
    
    }
    &-group{
      width: 80px;
    }
}

.filter-overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $t-white;
  overflow-x: hidden;
  transition: 0.5s;

  &-header{
    height: 72px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #DEDEDE;

  }
  &-content{
    padding-top: 25px;
  }
  
  .btn-outline-primary {
    color: #2639F2;
    --bs-btn-color: #2639F2;
    --bs-btn-border-color: #2639F2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2639F2;
    --bs-btn-hover-border-color: #2639F2;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2639F2;
    --bs-btn-active-border-color: #2639F2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #2639F2;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #2639F2;
    --bs-gradient: none;
}
}
