@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*{
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  font-family: 'Quicksand', sans-serif;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

.header{
  
  &-2xl{
    font-size: 80px;
    font-weight: 700;
    line-height: 130%;

    //Header-xl for mobile
    @media screen and (max-width: 575px){
      font-size: 64px;
      font-weight: 500;
      line-height: 130%;
    }
  }
  &-xl{
    font-size: 64px;
    font-weight: 500;
    line-height: 130%;

    //Header-l for mobile
    @media screen and (max-width: 575px){
      font-size: 40px;
      font-weight: 500;
      line-height: 130%;
    }
  }
  &-l{
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
  }
  &-m{
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
  }
  &-s{
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;

    //Header-xs for mobile
    @media screen and (max-width: 575px){
      font-size: 18px;
      font-weight: 500;
      line-height: 130%;
    }
  
  }
  &-xs{
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
  }
  &-2xs{
    font-size: 13px;
    font-weight: 500;
    line-height: 130%;
  }
}

p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500px;
  line-height: 150%;

  //p-small for mobile
  @media screen and (max-width: 575px){
    font-size: 14px;
    font-weight: 500px;
  }

  &.small{
    font-size: 14px;
    font-weight: 500px;
  }
}

.text{
  &-m{
    font-size: 16px;
    font-weight: 500px;
    line-height: 150%;

    &.bold{
      font-weight: 700;
    }
  }
  &-s{
    font-size: 14px;
    font-weight: 500px;
    line-height: 150%;

    &.bold{
      font-weight: 700;
    }
  }
  &-xs{
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
  }
  &-2xs{
    font-weight: 500;
    font-size: 9px;
    line-height: 150%;
  }

  &-red{
    color: $t-red;
  }
}

.btn{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  // width: 100%;
  padding: 12px 32px;
  border-radius: 12px;
  color: $t-white;

  &-blue{
    background-color: $t-blue;

    &:hover{
      background-color: $t-white;
      border: 1px solid $t-blue;
      color: $t-blue;
    }

    &.mobile-w-100{

      @media screen and (max-width: 991px){
        width: 100%;
      }
      
    }
  }
  &-blueinv{
    background-color: $t-white;
    border: 1px solid $t-blue;
    color: $t-blue;
    

    &:hover{
      background-color: $t-blue;
      color: $t-white;
    }
  }
  &.disabled{
    background-color: #EAEAEA;
    border: none;
  }
}

.label{
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  display: inline;
  &-orange{
    background:#FCEEDA;
    color: #ED7950;
    width: 74px;
    &.part-paid{
      width: 91px;
      text-align: center;
    }
  }
  &-green{
    background: #E8F3DC;
    color: #56C161;
    width: 39px;
  }
  &-grey{
    background: #EAEAEA;
    color: #1F1F1F;
    width: 54px;
  }
}

.dropdown-menu-start[data-bs-popper] {
  right: auto;
  left: -90px;
  top: 57px;
}

.image-100{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-radius{
  border-radius: 16px;
}


form{

  .form-label{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: $t-black;
  }

  .form-control{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding: 12px 0px 12px 16px;
  }
}

.company-card{
  padding: 21px 18px;
  background-color: $t-white;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;

  &-desc{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-collapse{
    h5{
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 8px;
    }
    p{
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 24px;
    }
    a{
      text-decoration: underline;
      display: block;
    }

    
  }

  &-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    justify-content: center;
    align-items: center;

    &:hover{
      text-decoration: underline;

      svg path{
        fill: blue;
      }
    }

    &[aria-expanded="true"]{
      .view{
        display: none;
      }
      .collapse-span{
        display: inline;
      }

      svg{
        transform: rotate(180deg);
      }
    }
    &[aria-expanded="false"]{
      .view{
        display: inline;
      }
      .collapse-span{
        display: none;
      }
    }
    
  }

   

 

  
}

