@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*{
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	// border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	// vertical-align: baseline;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  font-family: 'Quicksand', sans-serif;
  background: #F7F7F7;
  color: $t-black;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

.text{
  &-red{
    color: $t-red;
  }
  &-grey{
    color: #686868;
  }
  &-grey1{
    color: #a9a9a9;
  }
  &-white{
    color: $t-white;
  }
}



.header{
  
  &-2xl{
    font-size: 80px;
    font-weight: 700;
    line-height: 130%;

    //Header-l for mobile
    @media screen and (max-width: 575px){
      font-size: 40px;
      font-weight: 500;
      line-height: 130%;
    }
  }
  &-xl{
    font-size: 64px;
    font-weight: 500;
    line-height: 130%;

    //Header-l for mobile
    @media screen and (max-width: 575px){
      font-size: 40px;
      font-weight: 500;
      line-height: 130%;
    }
  }
  &-l{
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
    //Header-m for mobile
    @media screen and (max-width: 575px){
      font-size: 32px;
      font-weight: 500;
      line-height: 130%;
    }
  }
  &-m{
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    //Header-s for mobile
    @media screen and (max-width: 575px){
      font-size: 24px;
      font-weight: 500;
      line-height: 130%;
    }
  }
  &-s{
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;

    //Header-xs for mobile
    @media screen and (max-width: 575px){
      font-size: 18px;
      font-weight: 500;
      line-height: 130%;
    }
  
  }
  &-xs{
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    //Header-2xs for mobile
    @media screen and (max-width: 575px){
      font-size: 13px;
      font-weight: 500;
      line-height: 130%;
    }
  }
  &-2xs{
    font-size: 13px;
    font-weight: 500;
    line-height: 130%;
  }
}

p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500px;
  line-height: 150%;

  //p-small for mobile
  @media screen and (max-width: 575px){
    font-size: 14px;
    font-weight: 500px;
  }

  &.small{
    font-size: 14px;
    font-weight: 500px;
  }
}

.text{
  &-m{
    font-size: 16px;
    font-weight: 500px;
    line-height: 150%;

    &.bold{
      font-weight: 700;
    }
  }
  &-s{
    font-size: 14px;
    font-weight: 500px;
    line-height: 150%;

    &.bold{
      font-weight: 700;
    }
  }
  &-xs{
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
  }
  &-2xs{
    font-weight: 500;
    font-size: 9px;
    line-height: 150%;
  }

  &-red{
    color: $t-red;
  }
}

.btn-filter{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 12px 16px;
  border-radius: 12px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  color: $t-black;
  min-width: 170px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.btn{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  // width: 100%;
  padding: 12px 32px;
  border-radius: 12px;
  color: $t-white;

  &-blue{
    background-color: $t-blue;

    &:hover{
      background-color: $t-white;
      border: 1px solid $t-blue;
      color: $t-blue;
    }

    &.mobile-w-100{
      @media screen and (max-width: 991px){
        width: 100%;
      }
    }
    &.small-mobile{
      @media screen and (max-width: 575px){
        padding: 8px 16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
      }
    }
  }
  &-blueinv{
    background-color: $t-white;
    border: 1px solid $t-blue;
    color: $t-blue;
    

    &:hover{
      background-color: $t-blue;
      color: $t-white;
    }
  }

  &-blueplain{
    background-color: transparent;
    border:0;
    color: $t-blue;
    

    &:hover{
      text-decoration: underline;
    }
  }
  
  &.disabled{
    background-color: #EAEAEA;
    border: none;
  }
}

.label{
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  display: inline;
  white-space: nowrap;
  &-orange{
    background:#FCEEDA;
    color: #ED7950;
    width: 74px;
    &.part-paid{
      width: 91px;
      text-align: center;
    }
  }
  &-green{
    background: #E8F3DC;
    color: #56C161;
    width: 39px;
  }
  &-grey{
    background: #EAEAEA;
    color: #1F1F1F;
    width: 54px;
  }
}

.dropdown-menu-start[data-bs-popper] {
  right: auto;
  left: -90px;
  top: 57px;
}

.image-100{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-radius{
  border-radius: 16px;
}

form{

  .form-label{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: $t-black;
  }

  .form-control{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding: 12px 16px 12px 16px;
    border: 1px solid #A9A9A9;
    border-radius: 12px;

    &.append{
      border-right: 0;
    }

    &.code{
      padding:10px 15px ;
      width:40px;
      margin-right: 10px;
    }
  }

  .form-check-input:checked {
    background-color: $t-black;
    border-color: $t-black;
  }

  .label-optional{
    font-size: 12px;
    line-height: 150%;
    color: #A9A9A9;
    margin-left: 4px;
  }
  
  .form-select{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding: 12px 16px 12px 16px;
    border: 1px solid #A9A9A9;
    border-radius: 12px;
  }

  .form-others-specify{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #1f1f1f;
  }

  .input-group-text{
    padding: 12px 16px 12px 16px;
    background-color: $t-white;
    border: 1px solid #A9A9A9;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.company-card{
  padding: 21px 18px;
  background-color: $t-white;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;

  @media screen and (max-width: 991px){
    margin-bottom: 20px;
  }

  img{

    height: 160px;
    width: 100%;
    object-fit: contain;
    @media screen and (max-width: 575px){
      height: 120px;
      width: 100%;
      object-fit: contain;
    }
    
  }

  &-desc{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    &:hover{
      text-decoration: underline;

      svg path{
        fill: blue;
      }
    }

    // &[aria-expanded="true"]{
    //   .view{
    //     display: none;
    //   }
    //   .collapse-span{
    //     display: inline;
    //   }

    //   svg{
    //     transform: rotate(180deg);
    //   }
    // }
    // &[aria-expanded="false"]{
    //   .view{
    //     display: inline;
    //   }
    //   .collapse-span{
    //     display: none;
    //   }
    // }
  }

  &-modal{

    .modal-header{
      border-bottom: none;
    }

    &-details{
      border-left: 1px solid #DEDEDE;
      h5{
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 8px;
      }
      p{
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 24px;
      }
      a{
        text-decoration: underline;
        display: block;
        color: blue;
        margin-bottom: 8px;
      }

      @media screen and (max-width: 767px){
        margin-top: 20px;
        border-left: none;
      }
    }

    .modal-link{
      font-size: 14px;
      line-height: 18px;
      text-decoration: underline;
      color: blue;
    }

  }
}

.link-blue{
  color: $t-blue;
  &:hover{
    text-decoration: underline;
  }
}

.hero-header{
  background: #F9EBE8;
  padding: 100px 0;

  &-dashboard{
    padding-top: 117px;
    background: #F9EBE8;

    @media screen and (max-width: 575px){
      padding-top: 24px;
    }
  }
}

.border-start{
  border-left: 1px solid #A9A9A9;
}
.border-end{
  border-right: 1px solid #A9A9A9;
}

.upload-file{

  padding: 24px 0px;
  background: #F5F6FF;
  border: 1px dashed #A9A9A9;
  border-radius: 12px;
  margin: 0px;

  .upload-file-dummy{
    padding: 12px 32px;
    border: 1px solid #2639F2;
    border-radius: 12px;
    margin: 15px 0;
    color:$t-blue;
  }
}

.accordion-item{
  margin-bottom: 24px;
  border: 1px solid #DEDEDE;
  border-radius: 12px !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

  @media screen and (max-width: 575px){
    margin-bottom: 8px;
  }
}

.accordion-flush .accordion-item {
  border-right: 1px solid #DEDEDE;
  border-left: 1px solid #DEDEDE;
}

.accordion-flush .accordion-item:first-child {
  border-top: 1px solid #DEDEDE;
}
.accordion-flush .accordion-item:last-child {
  border-bottom: 1px solid #DEDEDE;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 12px;
}
.accordion .accordion-item + .accordion-item {
  
  border-top: 1px solid #DEDEDE;
}
.accordion-button{
  &:not(.collapsed) {
    color: $t-black; 
    background-color:$t-white;
    border-bottom: 1px solid #DEDEDE;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  &:focus{
    border-color: #DEDEDE;
    box-shadow: none;
  }
  &:not(.collapsed)::after {
    background-image: url(/assets/images/arrow_drop_down.png);
    transform: var(--bs-accordion-btn-icon-transform);
  }
  &:after{
    background-image: url(/assets/images/arrow_drop_down.png);
  }
}

.filter-overlay{
  .btn-outline-primary {
    color: #2639F2;
    --bs-btn-color: #2639F2;
    --bs-btn-border-color: #2639F2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2639F2;
    --bs-btn-hover-border-color: #2639F2;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2639F2;
    --bs-btn-active-border-color: #2639F2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #2639F2;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #2639F2;
    --bs-gradient: none;
  }
}

.container.container-fullwidth{

  @media screen and (max-width: 575px){
    background: $t-white;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-bottom: 16px;
  }
}

.button-print{
  border: 1px solid #000000;
  border-radius: 6px;
  background: transparent;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  img{
    margin-right: 10px;
  }
}
