@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Quicksand", sans-serif;
  background: #F7F7F7;
  color: #000000;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

.text-red {
  color: #FF4316;
}
.text-grey {
  color: #686868;
}
.text-white {
  color: #ffffff;
}

.header-2xl {
  font-size: 80px;
  font-weight: 700;
  line-height: 130%;
}
@media screen and (max-width: 575px) {
  .header-2xl {
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
  }
}
.header-xl {
  font-size: 64px;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (max-width: 575px) {
  .header-xl {
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
  }
}
.header-l {
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (max-width: 575px) {
  .header-l {
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
  }
}
.header-m {
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (max-width: 575px) {
  .header-m {
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
  }
}
.header-s {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (max-width: 575px) {
  .header-s {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
  }
}
.header-xs {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (max-width: 575px) {
  .header-xs {
    font-size: 13px;
    font-weight: 500;
    line-height: 130%;
  }
}
.header-2xs {
  font-size: 13px;
  font-weight: 500;
  line-height: 130%;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500px;
  line-height: 150%;
}
@media screen and (max-width: 575px) {
  p {
    font-size: 14px;
    font-weight: 500px;
  }
}
p.small {
  font-size: 14px;
  font-weight: 500px;
}

.text-m {
  font-size: 16px;
  font-weight: 500px;
  line-height: 150%;
}
.text-m.bold {
  font-weight: 700;
}
.text-s {
  font-size: 14px;
  font-weight: 500px;
  line-height: 150%;
}
.text-s.bold {
  font-weight: 700;
}
.text-xs {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}
.text-2xs {
  font-weight: 500;
  font-size: 9px;
  line-height: 150%;
}
.text-red {
  color: #FF4316;
}

.btn-filter {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 12px 16px;
  border-radius: 12px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  color: #000000;
  min-width: 160px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 12px 32px;
  border-radius: 12px;
  color: #ffffff;
}
.btn-blue {
  background-color: #2639F2;
}
.btn-blue:hover {
  background-color: #ffffff;
  border: 1px solid #2639F2;
  color: #2639F2;
}
@media screen and (max-width: 991px) {
  .btn-blue.mobile-w-100 {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .btn-blue.small-mobile {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
  }
}
.btn-blueinv {
  background-color: #ffffff;
  border: 1px solid #2639F2;
  color: #2639F2;
}
.btn-blueinv:hover {
  background-color: #2639F2;
  color: #ffffff;
}
.btn-blueplain {
  background-color: transparent;
  border: 0;
  color: #2639F2;
}
.btn-blueplain:hover {
  text-decoration: underline;
}
.btn.disabled {
  background-color: #EAEAEA;
  border: none;
}

.label {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  display: inline;
}
.label-orange {
  background: #FCEEDA;
  color: #ED7950;
  width: 74px;
}
.label-orange.part-paid {
  width: 91px;
  text-align: center;
}
.label-green {
  background: #E8F3DC;
  color: #56C161;
  width: 39px;
}
.label-grey {
  background: #EAEAEA;
  color: #1F1F1F;
  width: 54px;
}

.dropdown-menu-start[data-bs-popper] {
  right: auto;
  left: -90px;
  top: 57px;
}

.image-100 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-radius {
  border-radius: 16px;
}

form .form-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
form .form-control {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  padding: 12px 16px 12px 16px;
  border: 1px solid #A9A9A9;
  border-radius: 12px;
}
form .form-control.append {
  border-right: 0;
}
form .form-control.code {
  padding: 10px 15px;
  width: 40px;
  margin-right: 10px;
}
form .input-group-text {
  padding: 12px 16px 12px 16px;
  background-color: #ffffff;
  border: 1px solid #A9A9A9;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.company-card {
  padding: 21px 18px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
@media screen and (max-width: 991px) {
  .company-card {
    margin-bottom: 20px;
  }
}
.company-card img {
  height: 160px;
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 575px) {
  .company-card img {
    height: 120px;
    width: 100%;
    object-fit: contain;
  }
}
.company-card-desc {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company-card-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
.company-card-button:hover {
  text-decoration: underline;
}
.company-card-button:hover svg path {
  fill: blue;
}
.company-card-modal .modal-header {
  border-bottom: none;
}
.company-card-modal-details {
  border-left: 1px solid #DEDEDE;
}
.company-card-modal-details h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
}
.company-card-modal-details p {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 24px;
}
.company-card-modal-details a {
  text-decoration: underline;
  display: block;
  color: blue;
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .company-card-modal-details {
    margin-top: 20px;
    border-left: none;
  }
}
.company-card-modal .modal-link {
  font-size: 14px;
  line-height: 18px;
  text-decoration: underline;
  color: blue;
}

.link-blue {
  color: #2639F2;
}
.link-blue:hover {
  text-decoration: underline;
}

.hero-header {
  background: #F9EBE8;
  padding: 100px 0;
}
.hero-header-dashboard {
  padding-top: 117px;
  background: #F9EBE8;
}
@media screen and (max-width: 575px) {
  .hero-header-dashboard {
    padding-top: 24px;
  }
}

.border-start {
  border-left: 1px solid #A9A9A9;
}

.border-end {
  border-right: 1px solid #A9A9A9;
}

.upload-file {
  padding: 24px 0px;
  background: #F5F6FF;
  border: 1px dashed #A9A9A9;
  border-radius: 12px;
  margin: 0px;
}

.accordion-item {
  margin-bottom: 24px;
  border: 1px solid #DEDEDE;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 575px) {
  .accordion-item {
    margin-bottom: 8px;
  }
}

.accordion-flush .accordion-item:first-child {
  border-top: 1px solid #DEDEDE;
}

.accordion-flush .accordion-item:last-child {
  border-bottom: 1px solid #DEDEDE;
}

.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 12px;
}

.accordion .accordion-item + .accordion-item {
  border-top: 1px solid #DEDEDE;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #ffffff;
  border-bottom: 1px solid #DEDEDE;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.accordion-button:focus {
  border-color: #DEDEDE;
  box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(/assets/images/arrow_drop_down.png);
  transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button:after {
  background-image: url(/assets/images/arrow_drop_down.png);
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
}
@media screen and (max-width: 575px) {
  .navbar-brand {
    width: 120px;
  }
}
.navbar .nav-link {
  color: #000000 !important;
}
.navbar .nav-link:hover {
  color: #2639F2 !important;
}
.navbar .nav-item {
  margin-right: 40px;
}
@media screen and (max-width: 1399px) {
  .navbar .nav-item {
    margin-right: 15px;
  }
}
.navbar-collapse {
  background-color: #ffffff;
  position: fixed;
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}
.navbar-collapse .navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar-collapse.show {
  z-index: 9;
  opacity: 1;
  visibility: visible;
}
.navbar-collapse .mobile-nav-link {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  padding: 20px 0;
  display: block;
}

.footer-top {
  background: #152136;
}
.footer-bottom {
  background: #000000;
  padding: 34px 0px;
}
.footer-nav {
  color: #ffffff;
}
.footer-nav-title {
  font-size: 16px;
  line-height: 150%;
}
.footer-nav-item {
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 12px;
}
.footer-nav-item a:hover {
  text-decoration: underline;
  color: #ffffff;
}
.footer-nav-social {
  margin-right: 16px;
}
.footer-terms-wrap {
  font-size: 14px;
  line-height: 150%;
  padding: 0px 16px;
  color: #ffffff;
}
.footer-terms-wrap a:hover {
  text-decoration: underline;
  color: #ffffff;
}
.footer-terms-wrap.wrap-border {
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
}

.mobile-footer {
  background: #152136;
}
.mobile-footer-nav {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.mobile-footer-nav .footer-dropdown {
  font-size: 16px;
  line-height: 150%;
  display: block;
  color: white;
  padding: 12px 0;
  width: 100%;
}

.home-hero {
  background: url(../images/homepage-hero.png);
  min-height: 600px;
  padding: 130px 0px 200px 0px;
}
@media screen and (max-width: 767px) {
  .home-hero {
    padding: 94px 0px;
    min-height: 428px;
    background-position: right;
  }
}
.home-info {
  padding: 80px 0;
}
@media screen and (max-width: 767px) {
  .home-info {
    padding: 40px 0px;
  }
}
.home-refer {
  padding: 85px 0px 80px 0;
}
.home-refer-content {
  padding-right: 150px;
}
@media screen and (max-width: 1399px) {
  .home-refer-content {
    padding-right: 100px;
  }
}
@media screen and (max-width: 1199px) {
  .home-refer-content {
    padding-right: 50px;
  }
}
.home-refer .dot-line {
  position: absolute;
  width: 5%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .home-refer .dot-line {
    left: 3px;
  }
}
.home-refer .dot-line-inner {
  border-left: 3px solid #2639F2;
  height: 26%;
  margin-top: 33px;
}
.home-refer .dot-line-inner-alt {
  border-left: 3px solid #2639F2;
  height: 27%;
  margin-top: 50px;
}
@media screen and (max-width: 1399px) {
  .home-refer .dot-line-inner-alt {
    margin-top: 38px;
  }
}
@media screen and (max-width: 1199px) {
  .home-refer .dot-line-inner-alt {
    margin-top: 37px;
  }
}
.home-refer .carousel-height {
  height: 33.33%;
}
.home-refer .carousel-indicators.refer-desktop {
  top: 0;
  bottom: unset;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: space-between;
  height: 71%;
}
.home-refer .carousel-indicators.refer-desktop .active {
  background-color: #2639F2;
}
.home-refer .carousel-indicators.refer-desktop [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: #2639F2 solid 2px;
  opacity: 1;
}
.home-refer .refer-mobile-carousel .carousel-indicators {
  margin-bottom: -3rem;
}
.home-refer .refer-mobile-carousel .carousel-indicators [data-bs-target] {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: #dedede;
}
.home-about {
  padding: 80px 0;
}
@media screen and (max-width: 575px) {
  .home-about {
    padding: 40px 0;
  }
}
.home-about-content {
  padding: 0 140px;
}
@media screen and (max-width: 1199px) {
  .home-about-content {
    padding: 0 70px;
  }
}
@media screen and (max-width: 991px) {
  .home-about-content {
    padding: 0;
  }
}
@media screen and (max-width: 575px) {
  .home-about-content {
    padding: 0 10px;
  }
}
.home-offering {
  padding: 80px 0;
}
@media screen and (max-width: 767px) {
  .home-offering {
    padding: 40px 0px;
  }
}
.home-offering .product-list-carousel {
  margin-bottom: 50px;
}
.home-offering .product-list-carousel .carousel-indicators {
  margin-bottom: -3rem;
}
.home-offering .product-list-carousel .carousel-indicators [data-bs-target] {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: #a9a9a9;
}
.home-contact {
  padding: 80px 0 160px 0;
}
@media screen and (max-width: 575px) {
  .home-contact {
    padding: 40px 0 80px 0;
  }
}

.product-list {
  padding-bottom: 240px;
}
.product-list-filter {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.pagination {
  width: 240px;
}
.pagination-arrow {
  font-size: 20px;
}
.pagination-input {
  background: #DEDEDE;
  border-radius: 6px;
  border: none;
  width: 25px;
  text-align: center;
}
.pagination-group {
  width: 80px;
}

.filter-overlay .btn-outline-primary {
  color: #2639F2;
  --bs-btn-color: #2639F2;
  --bs-btn-border-color: #2639F2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2639F2;
  --bs-btn-hover-border-color: #2639F2;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2639F2;
  --bs-btn-active-border-color: #2639F2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #2639F2;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2639F2;
  --bs-gradient: none;
}

.eoi-modal .form-select {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #A9A9A9;
}

.about-wedo {
  padding: 80px 0px;
}
@media screen and (max-width: 575px) {
  .about-wedo {
    padding: 40px;
  }
}
.about-different {
  padding: 80px 0px;
}
@media screen and (max-width: 575px) {
  .about-different {
    padding: 40px;
  }
}
.about-custody {
  padding: 80px 0;
}
.about-custody-card {
  background: #F9EBE8;
  border-radius: 40px;
  padding: 65px 85px;
}
@media screen and (max-width: 575px) {
  .about-custody-card {
    padding: 40px;
  }
}
.about-custody-card-title {
  font-size: 64px;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (max-width: 991px) {
  .about-custody-card-title {
    font-size: 24px;
    line-height: 130%;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .about-custody-card-image {
    height: 100px;
  }
}
.about-team {
  padding: 80px 0 60px 0;
}
.about-team-card {
  padding-right: 36px;
  margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  .about-team-card {
    padding-right: 0px;
  }
}
.about-team-card-img {
  width: 170px;
  height: 170px;
  border-radius: 8px;
}
.about-contact {
  padding: 80px 0;
}
@media screen and (max-width: 575px) {
  .about-contact {
    padding: 40px;
  }
}
.about-contact .upload-file-dummy {
  padding: 12px 32px;
  border: 1px solid #2639F2;
  border-radius: 12px;
  margin: 15px 0;
  color: #2639F2;
}

.faq-header {
  background: #F9EBE8;
  padding: 100px 0 30px 0;
}
@media screen and (max-width: 575px) {
  .faq-header {
    padding: 24px 0;
  }
}
.faq-hero-search {
  width: 400px;
}
@media screen and (max-width: 575px) {
  .faq-hero-search {
    width: 340px;
  }
}
.faq-hero-search-input {
  border-radius: 40px;
  font-size: 14px !important;
  line-height: 150% !important;
}
.faq-hero-search-button {
  position: absolute;
  border: none;
  background: transparent;
  right: 14px;
  top: 27%;
}
.faq-main {
  padding: 40px 0px 65px 0px;
}
.faq-main-button {
  padding-bottom: 65px;
}
.faq-main-mobile-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.faq-main-mobile-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  background: #ffffff;
}
.faq-main-mobile-body {
  background: #F7F7F7;
  padding: 40px 0 140px 0;
}
.faq-button {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  width: 170px;
  height: 170px;
  margin-bottom: 36px;
}
.faq-button h4 {
  color: #000000;
}
.faq-button:hover {
  background: rgba(255, 67, 22, 0.1);
}
.faq-button[aria-expanded=true] {
  background: rgba(255, 67, 22, 0.1);
}
@media screen and (max-width: 767px) {
  .faq-button {
    width: 100%;
    height: 64px;
    flex-direction: row !important;
    justify-content: start !important;
    margin-bottom: 8px;
  }
  .faq-button img {
    width: 32px;
    height: 32px;
    margin: 0 24px;
  }
}

.login {
  height: 80vh;
}
.login-main {
  width: 377px;
}

.register {
  height: 80vh;
}
.register-header {
  letter-spacing: -0.02em;
}
.register-main {
  width: 377px;
}
@media screen and (max-width: 575px) {
  .register-main {
    width: 388px;
  }
}
.register-success {
  width: 582px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 30px 0;
}
.register-success-button {
  padding: 0px 183px;
}
@media screen and (max-width: 991px) {
  .register-success-button {
    padding: 0 120px;
  }
}
@media screen and (max-width: 575px) {
  .register-success-button {
    padding: 0 24px;
  }
}

.dashboard-nav {
  padding-bottom: 16px;
  overflow: auto;
}
.dashboard-nav-item {
  padding: 0px 32px;
  white-space: nowrap;
}
@media screen and (max-width: 991px) {
  .dashboard-nav-item {
    padding: 0px 16px;
  }
}
.dashboard-nav-item.start {
  padding: 0px 32px 0px 0px;
}
@media screen and (max-width: 991px) {
  .dashboard-nav-item.start {
    padding: 0px 16px;
  }
}
.dashboard-nav-item.active {
  color: #FF4316;
}
.dashboard-body {
  padding: 40px 0 100px 0px;
}
@media screen and (max-width: 575px) {
  .dashboard-body {
    padding: 0 0 24px 0;
  }
}
@media screen and (max-width: 575px) {
  .dashboard-body .container.container-fullwidth {
    background: #ffffff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-bottom: 16px;
  }
}
.dashboard-card {
  padding: 21px 18px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  margin-bottom: 36px;
}
@media screen and (max-width: 575px) {
  .dashboard-card {
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    padding: 21px 3px;
  }
}
.dashboard-card-header {
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
}
@media screen and (max-width: 575px) {
  .dashboard-card-header {
    font-size: 18px;
  }
}
.dashboard-card-button {
  width: 191px;
}
@media screen and (max-width: 575px) {
  .dashboard-card-button {
    width: 128px;
  }
}
.dashboard-card-link {
  color: #2639F2;
}
.dashboard-card-link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 991px) {
  .dashboard-card-link {
    font-size: 12px;
    line-height: 150%;
  }
}

.referral-card {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 12px;
  padding: 18px;
  height: 445px;
}
@media screen and (max-width: 575px) {
  .referral-card.circle {
    height: 395px;
  }
}
.referral-card-header {
  display: flex;
  justify-content: space-between;
}
.referral-card-header-text {
  color: #686868;
}
.referral-card-body {
  height: 311px;
}
.referral-card-body-circle {
  padding: 32px 0 32px 32px;
}
@media screen and (max-width: 575px) {
  .referral-card-body-circle {
    padding: 8px 0 8px 8px;
  }
}
.referral-card-active {
  position: absolute;
  left: 38px;
  top: 25px;
}
@media screen and (max-width: 767px) {
  .referral-card-active {
    top: 49px;
  }
}
.referral-card-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #FF4316;
}
@media screen and (max-width: 767px) {
  .referral-card-circle {
    width: 16px;
    height: 16px;
  }
}
.referral-card-circle.progress-active {
  background: #F3AB47;
}

.profile-progress {
  width: 764px;
  margin-left: -30px;
}
.profile-progress-bar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #878788;
  padding-left: 0px;
  margin-top: 30px;
}
.profile-progress-bar li {
  list-style-type: none;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #686868;
  text-align: center;
}
.profile-progress-bar li:first-child:before {
  margin-left: 15px !important;
  padding-left: 11px !important;
  text-align: left !important;
}
.profile-progress-bar li:last-child:before {
  margin-right: 5px !important;
  padding-right: 11px !important;
  text-align: right !important;
}
.profile-progress-bar li > .progress-dot {
  color: #fff;
  width: 13px;
  height: 13px;
  text-align: center;
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #878788;
  border-radius: 50%;
  margin: auto;
}
.profile-progress-bar li:after {
  content: "";
  width: 150%;
  height: 2px;
  background: #878788;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 31px;
}
.profile-progress-bar li:first-child:after {
  left: 50%;
}
.profile-progress-bar li:last-child:after {
  left: 0% !important;
  width: 0% !important;
}
.profile-progress-bar li.completed > .progress-dot {
  background: #2639F2;
}
.profile-progress-bar li.completed:after {
  background: #2639F2;
}

.mobile-progress {
  /*Active/ Completed States*/
}
.mobile-progress .list-group.vertical-steps {
  padding-left: 10px;
}
.mobile-progress .list-group.vertical-steps .list-group-item {
  border: none;
  border-left: 2px solid #878788;
  box-sizing: border-box;
  border-radius: 0;
  padding-left: 15px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-top: 0px;
}
.mobile-progress .list-group.vertical-steps .list-group-item.active {
  background-color: transparent;
  color: inherit;
}
.mobile-progress .list-group.vertical-steps .list-group-item:last-child {
  border-left: 2px solid transparent;
  padding-bottom: 0;
}
.mobile-progress .list-group.vertical-steps .list-group-item::before {
  border-radius: 50%;
  background-color: #878788;
  color: #555;
  content: "";
  display: inline-block;
  float: left;
  height: 10px;
  margin-left: -21px;
  text-align: center;
  width: 10px;
}
.mobile-progress .list-group.vertical-steps .list-group-item span,
.mobile-progress .list-group.vertical-steps .list-group-item a {
  display: block;
  overflow: hidden;
  padding-top: 2px;
}
.mobile-progress .list-group.vertical-steps .list-group-item.completed {
  border-left: 2px solid #0052c2;
}
.mobile-progress .list-group.vertical-steps .list-group-item.completed::before {
  background-color: #0052c2;
  color: #fff;
}
.mobile-progress .list-group.vertical-steps .list-group-item.completed:last-child {
  border-left: 2px solid transparent;
}

.progress {
  width: 250px;
  height: 250px;
  background: none;
  position: relative;
}
@media screen and (max-width: 767px) {
  .progress {
    width: 150px;
    height: 150px;
  }
}
.progress.progress-active {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 767px) {
  .progress.progress-active {
    width: 100px;
    height: 100px;
  }
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 575px) {
  .progress::after {
    border: 8px solid #eee;
  }
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress-bar {
  color: #FF4316;
}
.progress-bar.progress-active {
  color: #F3AB47;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 10px;
  border-style: solid;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 575px) {
  .progress .progress-bar {
    border-width: 8px;
  }
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.referral-header {
  padding: 40px 0;
}
@media screen and (max-width: 767px) {
  .referral-header {
    padding: 24px 0 40px 0;
    margin-bottom: 16px;
    background-color: #ffffff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
}
.referral-header-step {
  margin-top: 80px;
}
.referral-header-no {
  border: 8px solid #F9EBE8;
  color: #DC3545;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 24px;
}
.referral-header-title {
  width: 150px;
  text-align: center;
  margin-bottom: 40px;
}
.referral-header-para {
  color: #686868;
  text-align: center;
}
.referral-form {
  padding: 100px 0 50px 0;
}
@media screen and (max-width: 767px) {
  .referral-form {
    padding: 24px 0 40px 0;
    margin-bottom: 16px;
    background-color: #ffffff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
}
.referral-charts {
  padding: 50px 0 100px 0;
}
@media screen and (max-width: 767px) {
  .referral-charts {
    padding: 0 0 40px 0;
    margin-bottom: 16px;
    background-color: #ffffff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
}
.referral-mobile-step .list-group-item {
  background-color: transparent;
}
.referral-mobile-step .list-group.vertical-steps {
  padding-left: 10px;
}
.referral-mobile-step .list-group.vertical-steps .list-group-item {
  border: none;
  border-left: 6px solid #F9EBE8;
  box-sizing: border-box;
  border-radius: 0;
  counter-increment: step-counter;
  padding-left: 3px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-top: 0px;
}
.referral-mobile-step .list-group.vertical-steps .list-group-item.active {
  background-color: transparent;
  color: inherit;
}
.referral-mobile-step .list-group.vertical-steps .list-group-item:last-child {
  border-left: 3px solid transparent;
  padding-bottom: 0;
}
.referral-mobile-step .list-group.vertical-steps .list-group-item::before {
  border-radius: 50%;
  color: #FF4316;
  content: counter(step-counter);
  border: 6px solid #F9EBE8;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  display: inline-block;
  float: left;
  height: 56px;
  margin-left: -35px;
  text-align: center;
  width: 56px;
}
.referral-mobile-step .list-group.vertical-steps .list-group-item span,
.referral-mobile-step .list-group.vertical-steps .list-group-item a {
  display: block;
  overflow: hidden;
  padding-top: 2px;
}/*# sourceMappingURL=theme.css.map */