@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Quicksand", sans-serif;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

.header-2xl {
  font-size: 80px;
  font-weight: 700;
  line-height: 130%;
}
@media screen and (max-width: 575px) {
  .header-2xl {
    font-size: 64px;
    font-weight: 500;
    line-height: 130%;
  }
}
.header-xl {
  font-size: 64px;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (max-width: 575px) {
  .header-xl {
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
  }
}
.header-l {
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
}
.header-m {
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
}
.header-s {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (max-width: 575px) {
  .header-s {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
  }
}
.header-xs {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}
.header-2xs {
  font-size: 13px;
  font-weight: 500;
  line-height: 130%;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500px;
  line-height: 150%;
}
@media screen and (max-width: 575px) {
  p {
    font-size: 14px;
    font-weight: 500px;
  }
}
p.small {
  font-size: 14px;
  font-weight: 500px;
}

.text-m {
  font-size: 16px;
  font-weight: 500px;
  line-height: 150%;
}
.text-m.bold {
  font-weight: 700;
}
.text-s {
  font-size: 14px;
  font-weight: 500px;
  line-height: 150%;
}
.text-s.bold {
  font-weight: 700;
}
.text-xs {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}
.text-2xs {
  font-weight: 500;
  font-size: 9px;
  line-height: 150%;
}
.text-red {
  color: #FF4316;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 12px 32px;
  border-radius: 12px;
  color: #ffffff;
}
.btn-blue {
  background-color: #2639F2;
}
.btn-blue:hover {
  background-color: #ffffff;
  border: 1px solid #2639F2;
  color: #2639F2;
}
@media screen and (max-width: 991px) {
  .btn-blue.mobile-w-100 {
    width: 100%;
  }
}
.btn-blueinv {
  background-color: #ffffff;
  border: 1px solid #2639F2;
  color: #2639F2;
}
.btn-blueinv:hover {
  background-color: #2639F2;
  color: #ffffff;
}
.btn.disabled {
  background-color: #EAEAEA;
  border: none;
}

.label {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  display: inline;
}
.label-orange {
  background: #FCEEDA;
  color: #ED7950;
  width: 74px;
}
.label-orange.part-paid {
  width: 91px;
  text-align: center;
}
.label-green {
  background: #E8F3DC;
  color: #56C161;
  width: 39px;
}
.label-grey {
  background: #EAEAEA;
  color: #1F1F1F;
  width: 54px;
}

.dropdown-menu-start[data-bs-popper] {
  right: auto;
  left: -90px;
  top: 57px;
}

.image-100 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-radius {
  border-radius: 16px;
}

form .form-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
form .form-control {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  padding: 12px 0px 12px 16px;
}

.company-card {
  padding: 21px 18px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
.company-card-desc {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company-card-collapse h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
}
.company-card-collapse p {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 24px;
}
.company-card-collapse a {
  text-decoration: underline;
  display: block;
}
.company-card-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.company-card-button:hover {
  text-decoration: underline;
}
.company-card-button:hover svg path {
  fill: blue;
}
.company-card-button[aria-expanded=true] .view {
  display: none;
}
.company-card-button[aria-expanded=true] .collapse-span {
  display: inline;
}
.company-card-button[aria-expanded=true] svg {
  transform: rotate(180deg);
}
.company-card-button[aria-expanded=false] .view {
  display: inline;
}
.company-card-button[aria-expanded=false] .collapse-span {
  display: none;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
}
.navbar .nav-link {
  color: #000000 !important;
}
.navbar .nav-link:hover {
  color: #2639F2 !important;
}
.navbar .nav-item {
  margin-right: 40px;
}
@media screen and (max-width: 1399px) {
  .navbar .nav-item {
    margin-right: 15px;
  }
}
.navbar-collapse {
  background-color: #ffffff;
  position: fixed;
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}
.navbar-collapse.show {
  z-index: 9;
  opacity: 1;
  visibility: visible;
}
.navbar-collapse .mobile-nav-link {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  padding: 20px 0;
  display: block;
}

.footer-top {
  background: #152136;
}
.footer-bottom {
  background: #000000;
  padding: 34px 0px;
}
.footer-nav {
  color: #ffffff;
}
.footer-nav-title {
  font-size: 16px;
  line-height: 150%;
}
.footer-nav-item {
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 12px;
}
.footer-nav-item a:hover {
  text-decoration: underline;
  color: #ffffff;
}
.footer-nav-social {
  margin-right: 16px;
}
.footer-terms-wrap {
  font-size: 14px;
  line-height: 150%;
  padding: 0px 16px;
  color: #ffffff;
}
.footer-terms-wrap a:hover {
  text-decoration: underline;
  color: #ffffff;
}
.footer-terms-wrap.wrap-border {
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
}

.mobile-footer {
  background: #152136;
}
.mobile-footer-nav {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.mobile-footer-nav .footer-dropdown {
  font-size: 16px;
  line-height: 150%;
  display: block;
  color: white;
  padding: 12px 0;
  width: 100%;
}

.home-hero {
  padding: 110px 0px 80px 0px;
}
@media screen and (max-width: 575px) {
  .home-hero {
    padding: 40px 0px 80px 0px;
  }
}
.home-refer {
  padding: 85px 0px 80px 0;
}
.home-refer-content {
  padding-right: 150px;
}
@media screen and (max-width: 1399px) {
  .home-refer-content {
    padding-right: 100px;
  }
}
@media screen and (max-width: 1199px) {
  .home-refer-content {
    padding-right: 50px;
  }
}
.home-refer .dot-line {
  position: absolute;
  width: 5%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .home-refer .dot-line {
    left: 3px;
  }
}
.home-refer .dot-line-inner {
  border-left: 3px solid #2639F2;
  height: 26%;
  margin-top: 33px;
}
.home-refer .dot-line-inner-alt {
  border-left: 3px solid #2639F2;
  height: 27%;
  margin-top: 50px;
}
@media screen and (max-width: 1399px) {
  .home-refer .dot-line-inner-alt {
    margin-top: 38px;
  }
}
@media screen and (max-width: 1199px) {
  .home-refer .dot-line-inner-alt {
    margin-top: 37px;
  }
}
.home-refer .carousel-height {
  height: 33.33%;
}
.home-refer .carousel-indicators {
  top: 0;
  bottom: unset;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: space-between;
  height: 71%;
}
.home-refer .carousel-indicators .active {
  background-color: #2639F2;
}
.home-refer .carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: #2639F2 solid 2px;
  opacity: 1;
}
.home-about {
  padding: 80px 0;
}
@media screen and (max-width: 575px) {
  .home-about {
    padding: 40px 0;
  }
}
.home-about-content {
  padding: 0 140px;
}
@media screen and (max-width: 1199px) {
  .home-about-content {
    padding: 0 70px;
  }
}
@media screen and (max-width: 991px) {
  .home-about-content {
    padding: 0;
  }
}
@media screen and (max-width: 575px) {
  .home-about-content {
    padding: 0 10px;
  }
}
.home-contact {
  padding: 80px 0 160px 0;
}
@media screen and (max-width: 575px) {
  .home-contact {
    padding: 40px 0 80px 0;
  }
}/*# sourceMappingURL=theme.css.map */